main {
  .contacto {
    background: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.9)),
      url("../imagenes/fondo-restaurante.jpg");
    background-size: cover;
    background-position: center;
    min-height: 88vh;
    display: grid;
    text-align: center;
    place-content: center;
    grid-template-areas:
    "titulo"
    "formulario"
    "redes-sociales"
    "telefono";
    padding: 2rem;
    h3 {
      color: yellow;
      margin: 0.4rem;
      margin-bottom: 1.2rem;
      text-transform: uppercase;
    }
    .formulario {
      grid-area: formulario;
      margin-bottom: 1.2rem;
      form {
        display: grid;
        place-content: center;
        input {
          margin: 0.4rem;
          width: 220px;
          padding: 5px;
          border-radius: 5px;
          border: solid 1px black;
        }
        .boton{
          cursor: pointer;
        }
        textarea {
          margin: 0.4rem;
          padding: 5px;
          border-radius: 5px;
          border: solid 1px black;
          width: 220px;
        }
      }
    }
    .redes-sociales {
      grid-area: redes-sociales;
      ul {
        margin: 0.4rem;
        li {
          list-style: none;
          margin-bottom: 0.8rem;
          a {
            color: yellow;
            i {
              font-size: 1.5rem;
              margin-right: 5px;
            }
          }
          a:hover{
            color:darkgoldenrod;
          }
        }
      }
    }
    .telefono{
        grid-area: telefono;
        ul {
            margin: 0.4rem;
            li {
              list-style: none;
              margin-bottom: 0.8rem;
              a {
                color: yellow;
                i {
                  font-size: 1.5rem;
                  margin-right: 5px;
                }
              }
              a:hover{
                color:darkgoldenrod;
              }
            }
          }
    }
  }
}

@media (min-width: 512px) {
  main {
    .contacto {
      place-content: center;
      grid-template-areas:
        "titulo titulo"
        "formulario formulario"
        "redes-sociales telefono";
    }
  }
}

@media (min-width: 768px) {
    main {
      .contacto {
        place-content: space-around;
        grid-template-areas:
          "titulo titulo titulo"
          "formulario redes-sociales telefono";
        grid-template-columns: repeat(3,1fr);
        h3{
          font-size: 1.8rem;
        }

      }
    }
}
